body{
    width: 100%;
    margin: 0;
}
.all-div{
    height: 150px;
    width: 150px;
    background-color: skyblue;
    margin: 20px auto;
}

.apple-div, .orange-div{
    height: 50px;
    width: 47%;
    margin: 0;
}

.apple-div{
    background-color: red;
}

.orange-div{
    background-color: orange;
}

.sorter{
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 2%;
    justify-content: center;
}

button{
    border: none;
    background: transparent;
}